* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 2458px;
    background-color: #24204A;

}

#title {
    width: 126px;
    height: 22px;
    left: 115px;
    top: 37px;
    font-family: 'TT Hover';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 22px;
    position: absolute;
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    font-family: 'TT Hoves';
    width: 554px;
    height: 20px;
    left: 478px;
    top: 38px;
    color: #fff;
}

.contacts {
    background: none;
    color: #fff;
    border: none;
    font-size: 16px;
}

.click-call {
    position: absolute;
    width: 153px;
    height: 46px;
    left: 1132px;
    top: 25px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    text-align: center;
    background-color: #4B4864;
    border: 1px solid #8E88C1;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}

.line {
    position: absolute;
    width: 1170px;
    height: 1px;
    top: 96px;
    left: 115px;
    background: #8E88C1;
}

.main-content {
    position: absolute;
    width: 1170px;
    height: 506px;
    top: 143px;
    left: 115px;
}

.left-content {
    position: absolute;
    width: 573px;
    height: 411px;
    top: 48px;
}

.one-positionT {
    position: absolute;
    display: flex;
    width: 145px;
    height: 41px;
    background: #4B4864;
    border-radius: 8px;
}

.text-1 {
    position: absolute;
    width: 570px;
    height: 85px;
    top: 230px;
    font-family: "Gilroy";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #8E88C1;
}

.about-company {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 64px;
    top: 345px;
    background: #3F50E7;
    box-shadow: 0px 6px 20px rgba(0, 255, 224, 0.2);
    border-radius: 8px;
}

.about-company p {
    color: white;
}

.text {
    position: absolute;
    font-family: 'Gilroy';
    top: -45px;
    left: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130px;
    letter-spacing: 0.05em;
    color: #8E88C1;
}

.main-title {
    position: absolute;
    width: 573px;
    height: 88px;
    top: 90px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.right-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    background: linear-gradient(130deg, transparent 200px, #3F3B62 0);
    height: 506px;
    right: 0px;
    border-radius: 8px;
}

.inside-square {
    display: flex;
    background-color: #827EAC;
    width: 318px;
    height: 318px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.img {
    width: 318px;
    height: 318px;
    z-index: 10;
}

.ellips {
    position: absolute;
    top: 84px;
    left: 147px;
    width: 163px;
    height: 120px;
}

.main-contents {
    position: absolute;
    width: 100%;
    height: 764px;
    top: 724px;
    background-color: #071341;
}

.group-projects {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 124px;
    left: 115px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 175.45px;
    height: 56px;
    align-content: space-evenly;
}

.block-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.14px;
    height: 56px;
    border-radius: 8px;
    background-color: #FF6834;
}

.sun {
    width: 32.08px;
    height: 32px;
}

.block-orange p {
    position: absolute;
    left: 57px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

.block-ping {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.14px;
    height: 56px;
    border-radius: 8px;
    background-color: #FF537C;
}

.block-light-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.14px;
    height: 56px;
    border-radius: 8px;
    background-color: #80D2C4;
}

.block-violet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.14px;
    height: 56px;
    border-radius: 8px;
    background-color: #3F50E7;
}

.block-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.14px;
    height: 56px;
    border-radius: 8px;
    background-color: #95CB7C;
}

.project {
    margin-left: 12px;
}

.project p {
    display: flex;
    align-items: center;
    left: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.number {
    color: #FFFFFF;
}

.pro {
    color: #8E88C1;
}

.line-1 {
    position: absolute;
    width: 1170px;
    height: 1px;
    top: 135px;
    left: 115px;
    background: #8E88C1;
}

.description {
    position: absolute;
    width: 1074px;
    height: 126px;
    left: 163px;
    top: 159px;
}

.description p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.description-short {
    position: absolute;
    width: 450px;
    height: 24px;
    left: 507px;
    top: 300px;
}

.description-short p {
    position: absolute;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #8E88C1;
}

.new-blocks {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    height: 300px;
    top: 400px;
    left: 115px;
}

.first-block {
    position: absolute;
    width: 208px;
    height: 300px;
    background: linear-gradient(-170deg, transparent 160px, #FFF 0);
    box-shadow: 0px 6px 20px rgba(0, 255, 224, 0.2);
    border-radius: 8px;
}

.city {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 164px;
    background: linear-gradient(180deg, #FF6753 0%, rgba(255, 83, 124, 0.38) 100%), url(715);
    background-image: url('assets/City.png');
    opacity: 0.7;
}

.sun-0 {
    display: flex;
    position: absolute;
    left: 10px;
    width: 32.08px;
    height: 32px;
}

.asd {
    border: 1px solid white;
    position: absolute;
    width: 118px;
    height: 30px;
    left: 50px;
    top: 250px;
    background: #3F50E7;
    border-radius: 20px;
}

.asd p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: white;
}

.city p {
    position: absolute;
    width: 142px;
    height: 40px;
    left: 50px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.another-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 206px;
    border: 2px solid #8E88C1;
    border-radius: 8px;
}

.another-blocks-1 {
    margin-left: 206px;
}

.sun-1 {
    width: 32.08px;
    height: 32px;
    margin-top: -30px;
    padding: 30px;
}

.inside-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 98px;
}

.inside-block p {
    width: 178px;
    height: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #8E88C1;
}

.title-text {
    position: absolute;
    width: 899px;
    height: 84px;
    top: 1506px;
    left: 267px;
}

.title-text p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 117%;
    text-align: center;
    color: #FFFFFF;
}

.map {
    position: absolute;
    top: 1640px;
    object-fit: cover;
    left: 115px;
    width: 1170px;
    height: 480px;
    background-image: url('assets/Rectangle.png');
}

.img-map {
    width: 1170px;
    height: 480px;
}

.form {
    position: absolute;
    width: 449px;
    height: 380px;
    left: 536px;
    top: 50px;
    background: #4B4864;
    border-radius: 8px;
}

.form img {
    position: absolute;
    display: flex;
    left: 36px;
    top: 27px;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 1170px;
    height: 318px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 115px;
    top: 2120px;
}

.footer a {
    text-decoration: none !important;
    color: #FFF;
}

.fp {
    color: #FFF;
    position: absolute;
    margin-bottom: -260px;
}

.about_author span {
    color: #FFF;
}